{
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "dot-notation": 0,
        "quotes": [1, "single"],
        "strict": [2, "never"],
        "semi": [1, "always"]
    }
}
